In [ ]:
#R-Squared

In [2]:
import numpy as np
import matplotlib as mpl
from matplotlib import pyplot as plt
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, median_absolute_error, r2_score
from IPython.display import display, HTML

In [3]:
data_path = 'https://www.statlearning.com/s/Advertising.csv'
data_df = pd.read_csv(data_path,index_col=0)
data_df.head()

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [4]:
results = {
    "R Squared": list()
}
linear_regression = LinearRegression()
y_true = data_df[['sales']]

#TV
linear_regression.fit(data_df[['TV']], data_df[['sales']])
y_pred = linear_regression.predict(data_df[['TV']])
results["R Squared"].append(r2_score(y_true, y_pred))

#Radio
linear_regression.fit(data_df[['radio']], data_df[['sales']])
y_pred = linear_regression.predict(data_df[['radio']])
results["R Squared"].append(r2_score(y_true, y_pred))

#newspaper
linear_regression.fit(data_df[['newspaper']], data_df[['sales']])
y_pred = linear_regression.predict(data_df[['newspaper']])
results["R Squared"].append(r2_score(y_true, y_pred))

#Tv, radio
linear_regression.fit(data_df[['TV','radio']], data_df[['sales']])
y_pred = linear_regression.predict(data_df[['TV','radio']])
results["R Squared"].append(r2_score(y_true, y_pred))

#Tv, radio, newspaper
linear_regression.fit(data_df[["TV", "radio", "newspaper"]], data_df[["sales"]])
y_pred = linear_regression.predict( data_df[["TV", "radio", "newspaper"]] )
results["R Squared"].append( r2_score(y_true, y_pred) )

In [5]:
#interpreting results
index = ["TV","radio","newspaper","TV + radio","TV + radio + newspaper"]
r2_df = pd.DataFrame(results, index=index).transpose()
display(r2_df)

                 TV     radio  newspaper  TV + radio  TV + radio + newspaper
R Squared  0.611875  0.332032    0.05212    0.897194                0.897211

In [6]:
#Ajusted R-Squared

In [7]:
results = {
    "Adjusted R Squared": list()
}

# calculating adjusted r2 from r2 score
def adjusted_r2(r2,n,d):
    adj_r2 = 1-((1-r2)*(n-1)/(n-d-1))
    results["Adjusted R Squared"].append(adj_r2)

In [8]:
#Tv
adjusted_r2(r2_df.iloc[0,:]['TV'],200,1)

# radio
adjusted_r2(r2_df.iloc[0, :]['radio'], 200, 1)

# newspaper
adjusted_r2(r2_df.iloc[0, :]['newspaper'], 200, 1)

# TV, radio
adjusted_r2(r2_df.iloc[0, :]['TV + radio'], 200, 2)

# TV, radio, newspaper
adjusted_r2(r2_df.iloc[0, :]['TV + radio + newspaper'], 200, 3)

In [9]:
index = ["TV", "radio", "newspaper", "TV + radio", "TV + radio + newspaper"]
adjusstedr2_df = pd.DataFrame(results, index=index).transpose()
display(adjusstedr2_df)

,TV,radio,newspaper,TV + radio,TV + radio + newspaper
Adjusted R Squared,0.609915,0.328659,0.047333,0.896151,0.895637